#control {
	display: inline-block;
	border-style: solid;
	border-color: #000;
	border-width: 2;
	padding: 5;
}

#temp_place {
	border-style: solid;
	border-color: #777;
	border-width: 5;
	padding: 5;
}

#url_history {
	cursor: pointer;
	font-weight: bold;
	display: block;
}

.div_block{
	display: inline-block;
	border-style: solid;
	border-color: #CCC;
	border-width: 2;
	padding: 2;
}

.url_history_link {
	cursor: pointer;
	display: block;
}

.history_content {
	display: block;
}

.url_hover {
	background-color: #88F;
}

.one_piece {
	display: inline-block;
	border-style: dashed;
	border-width: 2;
	border-color: #F00;
	padding: 2;
	margin: 5;
}

#msg_div {
	color: #F00;
	display: block;
	position: absolute;
	left: 50;
	top: 0;
	font-weight: bold;
	font-size: 20;
	background-color: #FF8;
	padding: 5;
	border-style: solid;
	border-width: 2;
	border-color: #F00;
}

#piece_place {
	border-style: solid;
	border-width: 2;
	border-color: #555;
	padding: 5;
}

#rzz_title {
	cursor: pointer;
	font-weight: bold;
	display: block;
}

#zgroup_title {
	cursor: pointer;
	font-weight: bold;
	display: block;
}